* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* NAVBAR */
/* Resetando algumas propriedades padrão */
.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #4caf50;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  background-color: #fff;
  height: 4px;
  width: 25px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.active {
    display: flex;
  }
}

h1 {
  color: #333;
}

p {
  color: #666;
}

input[type="file"] {
  margin: 20px auto;
}

canvas {
  margin: 20px auto;
  background-color: #fff;
}

#resultadoEstatistico {
  margin-top: 20px;
  font-size: 18px;
  color: #444;
}

/* Conteudo Home */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero .btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.hero .hero-image {
  max-width: 25%;
  border-radius: 10px;
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 40px 250px;
}

.service {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.service h3 {
  margin-top: 15px;
  font-size: 24px;
}

.service p {
  margin-top: 10px;
  font-size: 16px;
  color: #777;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero .hero-image {
    max-width: 80%;
    margin-top: 20px;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 80%;
    margin-bottom: 20px;
  }
}

/* Grafico */
.graficoH1{
    text-align: center;
}

.graficoP{
    text-align: center;
}